#r01 {
  position: absolute;
  clip: rect(0px, 20px, 20px, 0px);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

#r02 {
  position: absolute;
  clip: rect(0px, 40px, 20px, 20px);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}