html {
  position: relative;
  min-height: 100%;
}
body {
  /*Margin bottom by footer height*/
  margin-bottom: 75px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px; /*Vertically center the text there*/
  margin-top:10px;
  clear:both;
}
