/* units classes */
img.units{
	width:16px;	height:16px;
	background-size:200px 16px;
	background-repeat:no-repeat;
}
.a01, .a02, .a03, .a04, .a05, .a06, .a07, .a08, .a09, .a10 { background-image:url("../images/nature.png"); }
.e01, .e02, .e03, .e04, .e05, .e06, .e07, .e08, .e09, .e10 { background-image:url("../images/egyptians.png"); }
.g01, .g02, .g03, .g04, .g05, .g06, .g07, .g08, .g09, .g10 { background-image:url("../images/gauls.png"); }
.h01, .h02, .h03, .h04, .h05, .h06, .h07, .h08, .h09, .h10 { background-image:url("../images/huns.png"); }
.n01, .n02, .n03, .n04, .n05, .n06, .n07, .n08, .n09, .n10 { background-image:url("../images/natars.png"); }
.r01, .r02, .r03, .r04, .r05, .r06, .r07, .r08, .r09, .r10 { background-image:url("../images/romans.png"); }
.t01, .t02, .t03, .t04, .t05, .t06, .t07, .t08, .t09, .t10 { background-image:url("../images/teutons.png"); }

.a01, .e01, .g01, .h01, .n01, .r01, .t01 { background-position: 0 0;}
.a02, .e02, .g02, .h02, .n02, .r02, .t02 { background-position: -20px 0;}
.a03, .e03, .g03, .h03, .n03, .r03, .t03 { background-position: -40px 0;}
.a04, .e04, .g04, .h04, .n04, .r04, .t04 { background-position: -60px 0;}
.a05, .e05, .g05, .h05, .n05, .r05, .t05 { background-position: -80px 0;}
.a06, .e06, .g06, .h06, .n06, .r06, .t06 { background-position: -100px 0;}
.a07, .e07, .g07, .h07, .n07, .r07, .t07 { background-position: -120px 0;}
.a08, .e08, .g08, .h08, .n08, .r08, .t08 { background-position: -140px 0;}
.a09, .e09, .g09, .h09, .n09, .r09, .t09 { background-position: -160px 0;}
.a10, .e10, .g10, .h10, .n10, .r10, .t10 { background-position: -180px 0;}


/* Resources */
img.res{ 
	background-repeat:no-repeat;	
	}
.wood {	width:16px; height:12px; background-image:url("../images/wood.png");	}
.clay {	width:16px; height:12px; background-image:url("../images/clay.png");	}
.iron {	width:16px; height:12px; background-image:url("../images/iron.png");	}
.crop {	width:16px; height:16px; background-image:url("../images/crop.png");	}
.upkeep { width:16px; height:16px; background-image:url("../images/upkeep.png");	}
.all { width:18px; height:12px;	background-image:url("../images/resAll.png");	}
.clock { width:16px; height:12px; background-image:url("../images/clock.png");	}


/* Races */
img.tribe{
	width:22px; height:22px;
	background-image:url("../images/races.png");
	background-repeat:no-repeat;
}
.Roman {background-position:center 0; }
.Teuton {background-position:center -22px; }
.Gaul {background-position:center -44px; }
.Natar {background-position:center -66px; }
.Egyptian {background-position:center -88px; }
.Hun {background-position:center -110px; }


/* Buildings */
img.build{
	width:25px; height:25px;
	background-image:url("../images/buildings.png");
	background-repeat:no-repeat;
}
.tsq{	background-position: -50px -25px;	}


/* Statistics */
img.stats{
	width:25px; height:25px;
	background-image:url("../images/stats.png");
	background-repeat:no-repeat;
}
.off{	background-position:0 0;	}
.def{	background-position:-75px 0px;	}
.dinf{	background-position:-100px 0px;	}
.dcav{	background-position:-125px 0px;	}

/* Hero */
img.exp{
	width:16px;	height:16px;
	background-repeat:no-repeat;
	background-image:url("../images/experience.png");
}

img.hero{
	width:18px; height:16px;
	background-image:url("../images/specials.png");
	background-repeat:no-repeat;
	background-position:-36px 0px; 
}























