.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* -------------------------------------------------------------------------- */
.troopsTable {
	table-layout: fixed;
	 width:1000px; 
	 margin: 0 auto;	
}

.troopsTable tr td {
	font-weight: bold;
	background-color:white; 
    overflow: hidden;
    font-size:0.75em
}

.troopsTable tr th {
	background-color:white;
	color:#FC4A1A;
}
/* ------------------------------------------------------------------------- */

