.profile-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 50px;
}
.profile-table th {
    background-color: #6cb9d2;
    border: solid 1px #6cb9d2;
    color: #6cb9d2;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.profile-table td {
    border: solid 1px #6cb9d2;
    text-align:center;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.profile-table-rounded {
    border: none;
}
.profile-table-rounded th {
    background-color: #6cb9d2;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.profile-table-rounded th:first-child {
    border-radius: 5px 0 0 0;
}
.profile-table-rounded th:last-child {
    border-radius: 0 5px 0 0;
}
.profile-table-rounded td {
    border: none;
    border-top: solid 1px #957030;
    background-color: white;
}
.profile-table-rounded tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
.profile-table-rounded tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}