body{
	background-color:white;
	margin:0px;
	font-family: verdana, georgia, serif;
	font-size: 14px;
	margin-top: 0.1%;
	margin-right: 7.5%;
	margin-left: 7.5%;	
	margin-bottom: 2%;
}

/* ==================== Header of the page - image or title ================ */
#header{ 
	background-color:#4ABDAC;
	height:80px;
	border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

#header h1{
	color: white;
	font-size: 2em;
	text-align: center;
	padding-top: 1.9%;
}


/* =====================================================================================================*/
.header{
	background-color:#4ABDAC;
	padding: 5px 0px;
	text-align: center;
	width:100%;
	border-radius:5px 5px 0px 0px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);	
	font-weight: bold;	
	font-size:1.25em;
	color:white;
}

/* ======================= Form Buttons ==================================== */
.button{
	background-color: #E8A87C;
	border: 1px solid white;
	border-radius: 5px;
	font: bold 15px Helvetica;
	line-height: 28px;
	padding: 2px 20px;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
	margin-right:10px;
	width:175px;
	color: white;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

/* ======================= content panel ================================== */
#contentRegular{ 
	background-color:#dbeef4;
	height:100%;
	padding-bottom:10px;
	margin-left:17%;
	font-size:1.1em;
	border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

#contentFull{
	background-color:#dbeef4;
	height:100%;	
	padding-bottom:10px;
	font-size:1.1em;
	border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);	
}
#contentFull .header{
	color: white;
	font-size:1.25em;
}

#contentCard{
	background-color:#dbeef4;
	height: 100%;
	width: 300px;
	border-radius:5px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	padding: 20px;
}


/* ================================ Calculators ============================================= */

.headings{
	color: #3991bf;
	text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align:center;
}

#calculator{ 
	background-color:#dbeef4;
	height:100%;
	margin-top:0.5%;
	margin-left:17%;
	padding: 10px;
	font-size:1.1em;
	border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    text-align: center;
}

#calculator h3{
	color: white;
	font-size:1.25em;
}
/* ==================================== Content notifications ========================= */
#contentNotification{
	background-color:#dbeef4;
	height:100%;
	margin-left:17%;
	margin-bottom: 10px;
	padding:10px;	
	border-radius:5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);	
}

#contentNotification p{
	font-size:1.25em;
	text-align: left;
	font-style: italic;
}

#contentNotification p a{
	font-weight:bold;
	text-decoration:none;
}

/* ====================================== Toop Tip of the units ============================ */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* ============================================= generic display table ============================== */
.profile-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 50px;
}
.profile-table th {
    background-color: #6cb9d2;
    border: solid 1px #6cb9d2;
    color: #6cb9d2;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.profile-table td {
    border: solid 1px #6cb9d2;
    text-align:center;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.profile-table-rounded {
    border: none;
}
.profile-table-rounded th {
    background-color: #6cb9d2;
    border: solid 1px white;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.profile-table-rounded th:first-child {
    border-radius: 5px 0 0 0;
}
.profile-table-rounded th:last-child {
    border-radius: 0 5px 0 0;
}
.profile-table-rounded td {
    border: none;
    border: solid 1px #6cb9d2;
    background-color: white;
}
.profile-table-rounded tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
.profile-table-rounded tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

/* =============================================  display of troops table ============================== */
.troops-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin:auto;
}
.troops-table th {
    background-color: white;
    border: solid 1px #6cb9d2;
    color: #6cb9d2;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px 1px;
}
.troops-table td {
    border: solid 1px white;
    text-align:center;
    color: white;
    padding: 10px;    
}
.troops-table-rounded {
    border: none;
}
.troops-table-rounded th {
    background-color: white;     
    color: #6cb9d2;
    border: solid 1px #6cb9d2;
}
.troops-table-rounded th:first-child {	
    border-radius: 5px 0 0 0;
    border: solid 1px #6cb9d2;
}
.troops-table-rounded th:last-child {
    border-radius: 0 5px 0 0;
    border: solid 1px #6cb9d2;
}
.troops-table-rounded td {    
    background-color: #6cb9d2;
}
.troops-table-rounded tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
.troops-table-rounded tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
} 

/* ==================================================== */
a {	
	text-decoration:none;
	color:#0199fe;	
}
a:hover a:focus {
	text-decoration:underline;
	font-size:1.1em;
}













